.green-border {
    border: 2px solid green;
    padding: 10px;
    display: inline-block;
}

.document-confirm {
    display: flex;
    background-color: #b6e9ee;
    width: 28%;
    margin: 20px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;

}

.document-confirm > img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}