
.main-block {
    border: 1px solid black;
    padding: 75px;
    margin-top: 15px;
    border-radius: 15px;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item>div, .item>h3, .item>p {
    padding: 5px;
}

.image>img {
    height: 60px;
    width: 100px;
}

.stars {
  color: gold;
}

.star {
    font-size: 38px;
}

.rating-chose {
    display: flex;
}

textarea {
    width: 100%;
    height: 20%;
    resize: none;
    border-radius: 10px;
    padding: 5px;
}

.submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

