html,
body {
    margin: 0;
    padding: 0;
}

a:hover, li:hover, .login-links > a > p:hover {
    transform: scale(1.03);
    transition: transform 0.3s
}

.header {
    /*height: 185px;*/
    width: auto;
    display: flex;
    flex-direction: column;
}

.topline {
    height: 65px;
    background-color: #434343;
    display: flex;
    justify-content: space-between;
}

.topline a:link {
    text-decoration: none;
    /* Убирает подчеркивание */
    color: inherit;
    /* Наследует цвет текста от родительского элемента */
}

.lefttopline {
    float: left;
    align-items: center;
    display: flex;
}

.lefttopline ul {
    list-style-type: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lefttopline li {
    display: inline-block;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    margin-left: 15px;
}

.righttopline {
    display: flex;
    float: right;
    align-items: center;

}



.righttopline > div {
    padding-right: 30px;
    display: flex;
    justify-content: flex-end;
    color: white;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;

}

.righttopline > div > img {
    width: 35px;
    height: 35px;
}

.favorite_icon > a > img, .chat_icon > a > img, .notifications_icon > a > img {
    width: 25px;
}

.login {
    align-items: inherit;
    display: flex;
    margin: 3px;
    padding: 5px 20px;
}

.login-links {
    display: flex;
}

.login-links > a > p {
    margin: 0 3px;
}


.searchline {
    height: 65px;
    background-color: #3C90B8;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.searchline > img {
    width: 60px;
    height: 60px;

}

.container_searchline {
    display: flex;
    align-items: center;
}


#burger {
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

#logo {
    width: 50px;
    height: 50px;
}

.container_searchline > span {
    color: white;
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    margin: 0 10px;
}
.categories {
    align-items: center;
    background-color: #D9D9D9;
    width: 147px;
    height: 44px;
    box-sizing: border-box;
    margin-left: 30px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    border: none;
    border-radius: 15px;
}

.search {
    display: inline-flex;
    float: right;
    margin-right: 20px;
    width: 50%;

}

.search > input {
    width: 700px;
    height: 35px;
    border-radius: 5px;
    border: none;
    margin-right: 5px;
    font-size: 19px;
    padding-left: 10px;
}

.search > input::placeholder {
    font-size: 15px;
}

.findbutton {
    border: none;
    background-color: #C6A3A8;
    border-radius: 5px;
}

.findbutton > img {
    height: 32px;
    width: 32px;
    align-self: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.footer {
    /*margin-top: 200px;*/
    display: flex;
    /*position: absolute;*/
    /*bottom: 0;*/
    background-color: #3C90B8;
    height: 50px;
    width: 100%;
}

.developers {
    padding-left: 10px;
    align-self: center;
}

.developers>a {
    color: white;
}