html,
body {
    margin: 0;
    padding: 0;
}

a:-webkit-any-link:active {
    color: white;
}

a:-webkit-any-link {
    color: white;
}

.header {
    height: 185px;
    width: auto;
}

.topline {
    height: 85px;
    background-color: #434343;
    display: flex;
    justify-content: space-between;
}

.topline a:link {
    text-decoration: none;
    /* Убирает подчеркивание */
    color: inherit;
    /* Наследует цвет текста от родительского элемента */
}

.lefttopline {
    float: left;
    align-items: center;
    display: flex;
}

.lefttopline ul {
    list-style-type: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lefttopline li {
    display: inline-block;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    margin-left: 15px;
}

.righttopline {
    display: flex;
    float: right;
    align-items: center;

}



.righttopline>div {
    margin: 10px;
    padding-right: 20px;
    display: flex;
    justify-content: flex-end;
    color: white;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;

}

.righttopline>div>img {
    width: 40px;
    height: 40px;

}

.login {
    align-items: inherit;
    display: flex;
}

.login-links {
    display: inline-block;
}

.searchline {
    height: 90px;
    background-color: #3C90B8;
    display: flex;
    align-items: center;
    width: 100%;
}

.searchline>img {
    width: 60px;
    height: 60px;


}

.searchline>span {
    color: white;
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    margin: 0 10px;
}

.categories {
    align-items: center;
    background-color: #D9D9D9;
    width: 147px;
    height: 44px;
    box-sizing: border-box;
    margin-left: 30px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    border: none;
    border-radius: 15px;
}

.search {
    display: inline-flex;
    float: right;
}

.search>input {
    width: 300px;
    height: 35px;
    border-radius: 5px;
    border: none;
    margin-right: 5px;
    font-size: 15px;
    padding-left: 10px;
}

.search>input::placeholder {
    font-size: 15px;
}

.findbutton {
    height: 37px;
    width: 37px;
    border: none;
    background-color: white;
    border-radius: 5px;
}

.findbutton>img {
    background-color: white;
    height: 26px;
    width: 26px;
}

.footer {
    display: flex;
    position: fixed;
    bottom: 0;
    background-color: #3C90B8;
    height: 50px;
    width: 100%;
}

.developers {
    padding-left: 10px;
    position: fixed;
    align-self: center;
}