html,
body {
    margin: 0;
    padding: 0;
}

a:-webkit-any-link:active {
    color: white;
}

a:-webkit-any-link {
    color: white;
}

.header {
    height: 185px;
    width: auto;
    display: flex;
    flex-direction: column;
}

.topline {
    height: 85px;
    background-color: #434343;
    display: flex;
    justify-content: space-between;
}

.topline a:link {
    text-decoration: none;
    /* Убирает подчеркивание */
    color: inherit;
    /* Наследует цвет текста от родительского элемента */
}

.lefttopline {
    float: left;
    align-items: center;
    display: flex;
}

.lefttopline ul {
    list-style-type: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lefttopline li {
    display: inline-block;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    margin-left: 15px;
}

.righttopline {
    display: flex;
    float: right;
    align-items: center;

}



.righttopline > div {
    margin: 10px;
    padding-right: 20px;
    display: flex;
    justify-content: flex-end;
    color: white;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;

}

.righttopline > div > img {
    width: 40px;
    height: 40px;

}

.login {
    align-items: inherit;
    display: flex;
}

.login-links {
    display: inline-block;
}

.searchline {
    height: 90px;
    background-color: #3C90B8;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.searchline > img {
    width: 60px;
    height: 60px;

}

.container_searchline {
    display: flex;
    align-items: center;
}


#burger {
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

#logo {
    width: 80px;
    height: 80px;
}

.container_searchline > span {
    color: white;
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    margin: 0 10px;
}
.categories {
    align-items: center;
    background-color: #D9D9D9;
    width: 147px;
    height: 44px;
    box-sizing: border-box;
    margin-left: 30px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    border: none;
    border-radius: 15px;
}

.search {
    display: inline-flex;
    float: right;
    margin-right: 20px;

}

.search > input {
    width: 700px;
    height: 35px;
    border-radius: 5px;
    border: none;
    margin-right: 5px;
    font-size: 19px;
    padding-left: 10px;
}

.search > input::placeholder {
    font-size: 15px;
}

.findbutton {
    border: none;
    background-color: #C6A3A8;
    border-radius: 5px;
}

.findbutton > img {
    height: 32px;
    width: 32px;
    align-self: center;
}

.footer {
    margin-top: 200px;
    display: flex;
    bottom: 0;
    position: absolute;
    background-color: #3C90B8;
    height: 50px;
    width: 100%;
}

.developers {
    padding-left: 10px;
    align-self: center;
}