.messenger {
    width: 70%;
    border: 1px solid black;
    margin-top: 20px;
}

.messenger-header {
    display: flex;
    align-items: center; /* Выравнивание по вертикали */
    justify-content: initial;
    border: 1px solid black;
    height: 10vh;
    background-color: #2aade4;
}

.back-button {

}

.sender-info {
    margin-left: 20px;
}

.sender-info > img {
    height: 40px;
    width: 60px;
}

.dialogue-box {
    height: 79%;
    background-image: url("/static/Invest/img/messenger/background.svg");
    background-size: contain; /* Растягивает изображение на всю площадь блока */
    background-position: center; /* Выравнивает изображение по центру блока */
    /* Дополнительные свойства фона, если необходимо */
    display: flex;
    flex-direction: column;
}

.message-sent, .message-recieved {
    background-color: #3C90B8;
}

.message-sent {
    align-self: flex-end;
}

.message-recieved {
    align-self: flex-start;
}

.message-panel {
    background-color: #666666;
    display: flex;
    height: 10vh;
}

.message-input {
    height: 30px;
    width: 50%;
}