.messenger {
    width: 70%;
    margin-top: 20px;
}

.messenger-header {
    display: flex;
    align-items: center; /* Выравнивание по вертикали */
    justify-content: initial;
    border: 1px solid black;
    height: 10vh;
    background-color: #2aade4;
}

.back-button {

}

.sender-info {
    margin-left: 20px;
}

.sender-info > img {
    height: 40px;
    width: 60px;
}

.dialogue-box {
    height: 83%;
    background-image: url("/static/Invest/img/messenger/background.svg");
    background-size: contain; /* Растягивает изображение на всю площадь блока */
    background-position: center; /* Выравнивает изображение по центру блока */
    /* Дополнительные свойства фона, если необходимо */
    display: flex;
    flex-direction: column;
}

.message-sent, .message-recieved {
    background-color: #90ccea;
    margin: 10px;
    padding: 10px;
}

.message-sent {
    align-self: flex-end;
}

.message-recieved {
    align-self: flex-start;
}

.message-panel {
    background-color: #f7f4f4;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.attach-sendmessage {
    display: flex;
}

/*Фото вставить скрепка*/
.photo-input {
  display: none;
}

.file-label {
  display: inline-block;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  cursor: pointer;
  margin-left: 5px;
}

.file-label img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  vertical-align: middle;
}
/*Конец вставки фото*/

.message-textarea {
    width: 60%;
    height: 80%;
    border-radius: 5px;
    border: none;
    resize: none;
    font-family: Arial, sans-serif;
    font-size: 20px;
    padding-left: 5px;
}

.message-textarea::placeholder {
  font-size: 14px;
}

.send-button {
    border: 1px solid black;
    border-radius: 10px;
}

.send-button>img {
    width: 50px;
    height: 50px;
}