.green-button {
  background-color: #4CAF50; /* Зеленый цвет */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.green-button:hover {
  background-color: #45a049; /* Изменение цвета при наведении курсора */
}


.main-section {
  width: 80%;
}

.ad-block {
  border: 1px solid #ccc;
  margin: 10px 0;
}

.item_options, .item-details {
  display: grid;
  grid-template-columns: 15% 25% 25% 20% 12%;

}
/*Разметка полей с названиями метрик*/
.item_options > span {
  border-right: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;

}
.item_options > .span_contactviews {
  border-right: none;
}

.item-image {
  display: inline-block;
  width: 100%;
  background-color: #eee;
}

.short_description {
  display: flex;
}


.item-details {
  margin-top: 10px;
  vertical-align: top;
  background-color: #eeeeee;
  align-items: center;
  text-align: center;
}
.item-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-image > img {
  max-width: 100%;
  max-height: 100%;
}

.actions {
  display: block;
  margin: 3px 0;
}

.actions button {
  width: 110px;
  margin: 2px;
}

/*.ad-details > span, .ad-details > div {*/
/*    border-right: 1px solid #000;*/
/*}*/

