form {
    /*border: 1px solid black;*/
    font-size: 18px;
    width: fit-content;
    padding: 25px;
    color: #855E5E;

}

.reg {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 15px;
    border-radius: 15px;
}

p {
    margin: 10px;
}

h1 {
    align-self: center;
}

form>div>input {
    margin-top: 15px;
}

input {
    border-radius: 10px;
    border: 1px solid black;
}

.enter {
    width: fit-content;
    padding: 50px;
    color: #855E5E;
    font-size: 18px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 15px;
}


.enter-button {
    width: fit-content;
    padding: 5px;
    background-color: #A38787;
    border-radius: 10px;
}

.enter-button>a {
    font-size: 25px;
    color: white;
    text-decoration: None;

}

#regbutton {
    width: fit-content;
    padding: 5px;
    background-color: #A38787;
    border: None;
    font-size: 25px;
    color: white;
}

.reg>a {
    color: #855E5E;

}


.general {
    display: flex;
    flex-direction: row;
    /*margin-bottom: 100px;*/
    padding-left: 50px;
    justify-content: center;
    align-items: center;
}

.main-container {
    min-height: 81vh;
}