body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 500px;
    margin: 0 30%;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
}

p {
    text-align: center;
}

h1 {
    text-align: center;
}

.container label {
    display: block;
    font-weight: bold;
}

.container input[type="text"],
.container textarea {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.container textarea {
    height: 100px;
}

.container input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container input[type="submit"]:hover {
    background-color: #45a049;
}
