{% extends 'base.html'%}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href=" {% static 'Invest/css/base.css' %} ">
{% endblock %}

{% block title %}
    Вход
{% endblock %}

{% block content %}
    <div class = "adds" >
        {% for ad in ads %}
		<div class="row align-items-center" style="display:inline-block">
        <div class="card" style="width: 18rem;">
            <img src="{{ ads.image.url }}" class="card-img-top" alt="{{ ad.name }}">
            <div class="card-body">
            <h5 class="card-title">{{ ads.title }}</h5>
            <p class="card-text">{{ product.description }}</p>
              <p class="h4">{{ product.price }} {{ currency }}</p>
            <a href="#" class="btn btn-primary">Купить</a>
              <button type="button" class="btn btn-info">Добавить в корзину</button>
            </div>
        </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}