{% extends 'base.html'%}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href=" {% static 'Invest/css/chat.css' %} ">
{% endblock %}

{% block title %}
    FoxInvest - Оффер #
{% endblock %}

{% block content %}
<div class="left-section">
    <div class="avatar"></div>
    <div class="name">Имя пользователя</div>
    <div class="divider"></div>
    <div class="menu-item">Мои объявления</div>
    <div class="menu-item">Избранное</div>
    <div class="divider"></div>
    <div class="menu-item">Сообщения</div>
    <div class="menu-item">Уведомления</div>
    <div class="divider"></div>
    <div class="menu-item">Платные услуги</div>
</div>
<div class="right-section">
    <div class="title">Сообщения</div>
    <div class="message">
        <div class="message-avatar"></div>
        <div class="message-sender">Имя отправителя</div>
        <div class="message-topic">Тема объявления</div>
        <div>Часть содержимого</div>
    </div>
    <div class="message">
        <div class="message-avatar"></div>
        <div class="message-sender">Имя отправителя</div>
        <div class="message-topic">Тема объявления</div>
        <div>Часть содержимого</div>
    </div>
    <!-- Добавьте другие сообщения здесь -->
</div>



{% endblock %}