{% extends 'base_panel.html'%}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href=" {% static 'Invest/css/base_panel.css' %} ">
    <link rel="stylesheet" href=" {% static 'Invest/css/chat.css' %} ">
{% endblock %}

{% block title %}
    FoxInvest - Сообщения
{% endblock %}

{% block inner_content %}
    <div class="message-section">
        <div class="title"><h2>Сообщения</h2></div>
        <div class="message">
            <a href="{% url 'messenger' %}"><div class="message-avatar"><img src="{% static 'Invest/img/aimg/1/2.jpg' %}"></div></a>
            <div class="message-sender"><a href="{% url 'messenger' %}">Игнат</a></div>
            <div class="message-topic">Кафе лофт</div>
            <div>По поводу кафе, вас заинтересовало наше предложение?</div>
        </div>
        <div class="message">
            <a href="#"><div class="message-avatar"><img src="{% static 'Invest/img/aimg/1/2.jpg' %}"></div></a>
            <div class="message-sender"><a href="#">Игнат</a></div>
            <div class="message-topic">Кафе лофт</div>
            <div>Я готов вложить в ваш бизнес 5 млн $, из них 1 млн я перечислю в фонд FoxInvest</div>
        </div>
        <!-- Добавьте другие сообщения здесь -->
    </div>


{% endblock %}