{% extends 'base_panel.html'%}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href=" {% static 'Invest/css/base_panel.css' %} ">
    <link rel="stylesheet" href=" {% static 'Invest/css/messenger.css' %} ">
{% endblock %}

{% block title %}
    Диалог
{% endblock %}

{% block inner_content %}
<div class="messenger">
    <div class="messenger-header">
        <!-- Кнопка "Вернуться к сообщениям" -->
        <a href="{% url 'chat' %}"><button class="back-button">Назад</button></a>
        <!-- Имя отправителя и фото -->
        <div class="sender-info">
            <img src="{% static 'Invest/img/aimg/1/2.jpg' %}" alt="Фото">
            <span class="sender-name">Валера Красножопов</span>
        </div>
    </div>
    <div class="dialogue-box">
        <!-- Здесь будет выводиться диалоговое окно с сообщениями -->
    </div>
    <div class="message-panel">
        <!-- Панель написания сообщений и добавления фото -->
        <input type="text" class="message-input" placeholder="Введите сообщение...">
        <input type="file" class="photo-input">
        <button class="send-button">Отправить</button>
    </div>
</div>


{% endblock %}