{% extends 'base_panel.html'%}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href=" {% static 'Invest/css/base_panel.css' %} ">
    <link rel="stylesheet" href=" {% static 'Invest/css/my_a.css' %} ">
{% endblock %}

{% block title %}
    FoxInvest - Мои объявления
{% endblock %}

{% block inner_content %}

<div class="main-section">
    <div class="title"><h2>Мои объявления</h2></div>
    <button class="green-button">Добавить объявление</button>


    <!-- Добавьте другие сообщения здесь -->

<div class="ad-block">
    <div class="a_options">
      <span class="span_photo">Фото</span>
      <span class="span_title">Название</span>
      <span class="span_views">Просмотров</span>
      <span class="span_addtofavorite">Добавленно в избранное</span>
      <span class="span_contactviews">Запрос контактов</span>
      <span class="span_actions">Действие</span>
      <span class="span_status">Статус</span>
    </div>
  </div>

  <div class="ad-block">
    <div class="ad-details">
        <div class="ad-image">
            <img src="#" alt="Фото">
        </div>
            <span>Тестовое объявление 1</span>
            <span>100</span>
            <span>10</span>
            <span>5</span>
        <div class="ad-actions">
            <div class="actions">
                <button>Редактировать</button>
                <button>Деактивировать</button>
                <button>Поднять</button>
                <button>Удалить</button>
            </div>
            <span>Опубликовано</span>
        </div>
    </div>
    <div class="ad-details">
        <div class="ad-image">
            <img src="#" alt="Фото">
        </div>
        <span>Тестовое объявление 1</span>
        <span>32</span>
        <span>5</span>
        <span>1</span>
        <div class="ad-actions">
            <div class="actions">
                <button>Редактировать</button>
                <button>Активировать</button>
                <button>Поднять</button>
                <button>Удалить</button>
            </div>
            <span>Ожидает публикации</span>
        </div>
    </div>
  </div>






<!--    Див нужный -->


  <!-- Здесь можно добавить объявления в виде блоков или других элементов -->
</div>



{% endblock %}