{% extends 'base.html'%}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href=" {% static 'Invest/css/support.css' %} ">
{% endblock %}

{% block title %}
    FoxInvest - Поддержка
{% endblock %}

{% block content %}

<body>
    <p>Если вдруг вы заметили какие-либо проблемы при работе сайта, напишите нам! В скором времени мы устраним проблему </p>
    <h1>Запрос в техподдержку</h1>
    <div class="container">

<!--        <form method="post">-->
<!--            -->
<!--            {{ form.as_p }}-->
<!--&lt;!&ndash;            <label for="name">Имя:</label>&ndash;&gt;-->
<!--&lt;!&ndash;            <input type="text" id="name" name="name" required>&ndash;&gt;-->

<!--&lt;!&ndash;            <label for="email">Email:</label>&ndash;&gt;-->
<!--&lt;!&ndash;            <input type="text" id="email" name="email" required>&ndash;&gt;-->

<!--&lt;!&ndash;            <label for="message">Сообщение:</label>&ndash;&gt;-->
<!--&lt;!&ndash;            <textarea id="message" name="message" required></textarea>&ndash;&gt;-->


<!--        </form>-->
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Отправить</button>
    </div>
</body>
{% endblock %}