{% extends 'dashboard_base.html'%}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href=" {% static 'Invest/css/dashboard_base.css' %} ">
{% endblock %}

{% block title %}
    FoxInvest - Панель управления модератора
{% endblock %}

{% block content %}
    <div class="main-panel">
        <div class="nav-block">
            <div class="menu-title">Управление</div>
            <div class="divider"></div>
            <div class="menu-item"><a href="{% url 'my_item' %}"><p>Чат техподдержки</p></a></div>
            <div class="menu-item"><a href="#"><p>Отправка уведомлений</p></a></div>
            <div class="menu-item"><a href="#"><p>Написать новостной контент</p></a></div>
            <div class="menu-item"><a href="#"><p>Жалоба на объявления</p></a></div>
            <div class="menu-item"><a href="#"><p>Другая функция 1</p></a></div>
            <div class="menu-item"><a href="#"><p>Другая функция 2</p></a></div>
        </div>
    {% block inner_content %}{% endblock %}
    </div>
{% endblock %}