{% extends 'base.html'%}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href=" {% static 'Invest/css/about.css' %} ">
{% endblock %}

{% block title %}
    FoxInvest - О нас
{% endblock %}

{% block content %}
    <div class="about">
        <h1>FoxInvest - это удобная платформа для привлечения инвестиций и поиска вкладов!</h1>
        <p>Наша команда, ежедневно делает всё возможное, чтобы сделать ваши инвестиции удобнее проще и безопаснее!</p>
        <p>Мы помогаем предпринимателям и инвесторам быстро найти друг друга, для совершения выгодных сделок по всей стране!</p>
        <p>Наша миссия – давать возможность предпринимателям в России развиваться, а инвесторам увеличивать свою прибыль.</p>
        <p>Каждый месяц FoxInvest посещают тысячи предпринимателей и инвесторов.</p>
        <p>Обеспечение безопасности для инвесторов — наша приоритетная цель. Мы проверяем проекты, кто заходит на платформу. Также инвестор может заказать дополнительную индивидуальную профессиональную проверку соискателя.</p>
        <p>Если вы нашли какую-то недоработку, <a href="#">сообщите нам </a> и её оперативно исправят!</p>
        </br>
        <p>P.S. Наш проект создан на добровольных началах, из-за отсутствия подобных специализированных платформ на рынке.
            </br> Вы можете <a href="#">помочь проекту</a>, тем самым помогая нам развиваться!</p>

    </div>

{% endblock %}