{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {% block title %} {% endblock %}</title>
    <link rel="stylesheet" href=" {% static 'Invest/css/base.css' %} ">
    {% block styles %} {% endblock %}
</head>
<body>
    <div class="header">
        <div class="topline">
            <div class="lefttopline">
                <ul>
                    <li>О нас</li>
                    <li>Поддержка</li>

                </ul>
            </div>
            <div class="righttopline">
                <div>Избранное</div>
                <div>Сообщения</div>
                <div>Уведомления</div>
                <div>Email</div>
            </div>
        </div>
        <div class="searchline"></div>





    </div>


    {% block content %}
    {% endblock %}

    <div class="developers">Разработано <a href="https://t.me/n9dmitry">DD team</a></div>
</body>
</html>