{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> {% block title %} {% endblock %}</title>
    <link rel="stylesheet" href=" {% static 'Invest/css/base.css' %} ">
    {% block styles %}
    {% endblock %}
</head>

<body>

    <div class="header">
        <div class="topline">
            <div class="lefttopline">
                <ul>
                    <li><a href="{% url 'item' %}">Главная</a></li>
                    <li><a href="{% url 'about' %}">О нас</a></li>
                    <li><a href="{% url 'support' %}">Поддержка</a></li>

                </ul>
            </div>
            <div class="righttopline">
                <div class="favorite_icon">
                    <a href="{% url 'favorite' %}">
                        <img src="{% static 'Invest/img/righttopline/favourites.svg' %}">
                    </a>

                </div>
                <div class="chat_icon">
                    <a href="{% url 'chat' %}">
                        <img src="{% static 'Invest/img/righttopline/messages.svg' %}">
                    </a>

                </div>
                <div class="notifications_icon">
                    <a href="{% url 'notifications' %}">
                        <img src="{% static 'Invest/img/righttopline/notice.svg' %}">
                    </a>

                </div>
                <div class="login">
                    <img src="{% static 'Invest/img/righttopline/avatar.svg' %}">
                    <div class="login-links">
                        <a href="{% url 'authorization' %}"><p>Вход</p></a>
                        <a>|</a>
                        <a href="{% url 'registration' %}"><p>Регистрация</p></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="searchline">
            <div class="container_searchline">
                <img id="burger" src="{% static 'Invest/img/searchline/burger_menu.svg' %}">
                <img id="logo" src="{% static 'Invest/img/searchline/logo.svg' %}">
                <span>FoxInvest</span>
                <button class="categories">Категории</button>
            </div>
            <div class="search">
                <input type="text" placeholder="Поиск по сайту">
                <button type="submit" class="findbutton">
                    <img src="{% static 'Invest/img/searchline/findbutton.svg' %}">

                </button>

            </div>
        </div>
    </div>

    <div class="main-container">

        {% block content %}
        {% endblock %}

        <div class="footer">
            <div class="developers">Разработано <a href="https://t.me/n9dmitry">DD team</a></div>
        </div>
    </div>
</body>

</html>