{% extends 'base.html'%}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href=" {% static 'Invest/css/registration.css' %} ">
{% endblock %}

{% block title %}
    FoxInvest - Регистрация
{% endblock %}

{% block content %}
<div class="general">
    <form method="post">
        <div class="reg">
            <h1>Регистрация</h1>
            {% csrf_token %}
            {{ form.as_p }}
            <input id='regbutton' type="submit" value="Зарегистрироваться"><br>
            <a href="#">Забыли пароль?</a>
            <p>
                {{ error }}
            </p>
        </div>
    </form>
    <div class="enter">
        <span>Уже есть аккаунт?</span>
        <div class="enter-button">
            <a href="{% url 'authorization' %}">Войти</a>
        </div>
    </div>
</div>
{% endblock %}