{% extends 'base.html'%}
{% load static %}

{% block styles %}
<link rel="stylesheet" href=" {% static 'Invest/css/additem.css' %} ">
{% endblock %}

{% block title %}
Добавить объявление
{% endblock %}

{% block content %}
<div class="additem">
    <h1>Добавление объявления</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{errors}}
        <label for="category">Категория:</label>
        <select id="category" name="category">
            <option value="1">Автобизнес</option>
            <!-- <option value="информация_связь">Информация и связь</option>
            <option value="it">IT , web, интернет</option>
            <option value="добыча_ископаемых">Добыча полезных ископаемых</option>
            <option value="финансы_страхование">Финансы и страхование</option>
            <option value="франчайзинг">Франчайзинг</option>
            <option value="гостиничная_индустрия">Гостиничная индустрия</option>
            <option value="культура_спорт_развлечения">Культура, спорт, организации досуга и развлечений</option>
            <option value="медицинский_бизнес">Медицина</option>
            <option value="наука">Наука</option>
            <option value="недвижимость">Недвижимость</option>
            <option value="образование">Образование</option>
            <option value="общественное_питание">Общественное питание</option>
            <option value="организации_сбор_утилизация_отходов">Организации сбора и утилизации отходов</option>
            <option value="производство">Производство</option>
            <option value="прочие_деятельности">Прочие виды деятельности</option>
            <option value="реклама_pr">Реклама и PR</option>
            <option value="строительство">Строительство</option>
            <option value="торговля">Торговля</option>
            <option value="транспортировка">Транспортировка</option>
            <option value="услуги">Услуги</option>
            <option value="индустрия_красоты">Красота</option> -->

            <!-- Добавьте остальные категории по алфавиту -->
        </select>

        <label for="title">Название:</label>
        <input type="text" id="title" name="title" required>

        <label for="description">Описание:</label>
        <textarea id="description" name="description" rows="4" required></textarea>

        <label for="images" class="photo-label">Выберите несколько/одно фото:</label>
        <input type="file" multiple name="images" id="">
        <!-- <div class="photo-grid">
            <div class="photo-cell">
                <img class="photo-preview" src="#" alt="Фото 1">
            </div>
            <div class="photo-cell">
                <img class="photo-preview" src="#" alt="Фото 2">
            </div>
            <div class="photo-cell">
                <img class="photo-preview" src="#" alt="Фото 3">
            </div>
            <div class="photo-cell">
                <img class="photo-preview" src="#" alt="Фото 4">
            </div>
        </div> -->
        <label for="required_investment">Требуемая инвестиция:</label>
        <input type="text" id="required_investment" name="required_investment">
        <label for="city">Город:</label>
        <input type="text" id="city" name="city" required>

        <label for="contacts">Контакты:</label>
        <input type="text" id="contacts" name="contacts">
        <input type="text" hidden name="user" value="{{request.user.id}}">
        <input type="submit" value="Опубликовать объявление" class="submit-btn">
    </form>
</div>

{% endblock %}