{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> {% block title %} {% endblock %}</title>
    <link rel="stylesheet" href=" {% static 'Invest/css/base.css' %} ">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
    {% block styles %}
    {% endblock %}
</head>

<body>

    <div class="header">
        <div class="topline">
            <div class="lefttopline">
                <nav class="menu">
                    <ul class="menu-list">
                        <button class="burger-button">
                            <span></span><span></span><span></span>
        <!--                    <img id="burger" src="{% static 'Invest/img/searchline/burger_menu.svg' %}">-->
                        </button>
                        <li><a href="{% url 'all_items' %}">Главная</a></li>
                        <li><a href="{% url 'about' %}">О нас</a></li>
                        <li><a href="{% url 'support' %}">Поддержка</a></li>
                        <li><a href="{% url 'news/news_list' %}">Новости</a></li>

                    </ul>
                </nav>
            </div>
            <div class="righttopline">
                <div class="favorite_icon">
                    <a href="{% url 'favorite' %}">
                        <img id="favorite_icon" src="{% static 'Invest/img/righttopline/favourites.svg' %}">
                    </a>

                </div>
                <div class="chat_icon">
                    <a href="{% url 'chat' %}">
                        <img src="{% static 'Invest/img/righttopline/messages.svg' %}">
                    </a>

                </div>
                <div class="notifications_icon">
                    <a href="{% url 'notifications' %}">
                        <img src="{% static 'Invest/img/righttopline/notice.svg' %}">
                    </a>

                </div>
                <div class="login">
                    {% if request.user.is_authenticated == False %}
                    <img src="{% static 'Invest/img/righttopline/avatar.svg' %}">
                    <div class="login-links">
                        <a href="{% url 'authorization' %}">
                            <p>Вход</p>
                        </a>
                        <a>|</a>
                        <a href="{% url 'registration' %}">
                            <p>Регистрация</p>
                        </a>
                    </div>
                    {% else %}
                    <div class="logo-links">
                        <a href="{% url 'account_settings' %}">{{ request.user.email }}</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="searchline">
            <div class="container_searchline">

                <button class="categories">Категории</button>
                <img id="logo" src="{% static 'Invest/img/searchline/logo.svg' %}">
                <span>StarFox</span>
            </div>
            <div class="search">
                <input type="text" placeholder="Поиск по сайту">
                <button type="submit" class="findbutton">
                    <img src="{% static 'Invest/img/searchline/findbutton.svg' %}">

                </button>

            </div>
        </div>
    </div>

    <div class="main-container">

        {% block content %}
        {% endblock %}

        <div class="footer">
            <div class="developers">Разработано <a href="https://t.me/n9dmitry">DD team</a></div>
        </div>
    </div>
</body>

</html>