{% extends 'base.html'%}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href=" {% static 'Invest/css/iteminfo.css' %} ">
{% endblock %}

{% block title %}
    FoxInvest - Оффер #
{% endblock %}

{% block content %}
<div class = "details">
    <div class="adinfo">
        <p id="p-category"> Категория: Категория оффера > Подкатегория оффера > 2я подкатегория оффера </p>
        <h1>Кафе лофт</h1>
        <div><button class="addtofavorite"> ♡ Добавить в избранное </button></div>
        <img src="{% static 'Invest/img/itemimg/1/2.jpg'%}">
        <h2>Описание</h2>
        <p>
        📣 Инвестируйте вместе с нами и заработайте! 📈<br>
🏦 Название: "Процветай и Вырастай"<br>
💼 Описание: Мы приглашаем вас присоединиться к нашему инвестиционному проекту "Процветай и Вырастай". Мы специализируемся на инвестировании в различные финансовые инструменты с целью достижения стабильного и высокого дохода.<br>
📈 Мы гарантируем вам:<br>
✅ Профессиональное управление: Наша команда опытных финансовых экспертов тщательно анализирует рынки и принимает стратегические решения для максимизации потенциальной прибыли.<br>
✅ Разнообразие инструментов: Наш портфель включает акции, облигации, фонды и другие финансовые инструменты, обеспечивая диверсификацию и минимизацию рисков.<br>
✅ Привлекательный процент: Мы предлагаем нашим инвесторам процент доходности 8-10%, что значительно выше банковских вкладов и других инвестиционных предложений.<br>
✅ Гибкий подход: Мы предлагаем различные варианты инвестиций, от краткосрочных до долгосрочных, чтобы соответствовать вашим финансовым целям и рисковым предпочтениям.<br>
🔒 Наша первостепенная задача - это обеспечить безопасность ваших инвестиций и достижение максимальной доходности. Мы стремимся установить долгосрочные партнерские отношения, основанные на доверии, прозрачности и взаимовыгоде.<br>
💵 Не упустите возможность заработать! Присоединяйтесь к нам сегодня!<br>
📞 Для получения дополнительной информации и инвестиционного плана, свяжитесь с нами по указанному номеру.<br>
        </p>
        </br>
        <a class="claim" href="#">Пожаловаться на объявление</a>
    </div>
    <div class="contacts">
        <div class="message"><a href="{% url 'messenger' %}" class="button-link-messanger">Написать сообщение</a></div>
        <div class="show_contacts"><a class="button-link-contacts" onclick="showModal()">Показать контакты</a></div>
        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal()">&times;</span>
                <p>+79015069743</p>
            </div>
        </div>

        <script>
            function showModal() {
                var modal = document.getElementById("myModal");
                modal.style.display = "block";
            }

            function closeModal() {
                var modal = document.getElementById("myModal");
                modal.style.display = "none";
            }
        </script>
        <div class="userinfo">
            <div class="username">Валера Терентьев</div>
            <div class="avatar"><img src="{% static 'Invest/img/unnamed.jpg' %}"></div>
        </div>
        <div class="othera"><button>Другие объявления пользователя</button></div>
    </div>
</div>
{% endblock %}